html{
    padding: 0;
    margin: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: #053B50;
    color: whitesmoke;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header-logo2{
    margin-left: 5px;
    margin-top: 37px;
}

label{
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #053B50;

}
.Welcome{
    margin-top: 50px;
}
.Welcome , p {
    text-align: center;
}
input{
    padding: 6px;
    border: solid #176B87 1px;
    border-radius: 4px;
    outline: none;
}
button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFCC70;
    color: #FFF ; 
}
button:hover {
    background-color: #952323;
}

button:active {
    transform: translateY(2px);
}

input:focus {
    border-color: #053B50;
}

.LuasinputSection{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.inputButtonSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}
.inputButtonSection, .hitungButton{
    margin-right: 10px;
}

